.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    background-color: white;
    width: 72px;
}

.sidebar-link {
    height: 85px;
}
.sidebar-link:hover {
    background-color: rgb(232, 230, 230);
}